<div class="container-404">
  <h1>Oops!</h1>
  <div id="lottie-animation"></div>
  <p>
    Only recruiters are allowed to access this page. Please login as recruiter
    to continue.
  </p>
  <div class="cta">
    <a href="/landing">Go Back Home</a>
  </div>
</div>

<!-- Lottie Animation Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
<script>
  var animation = lottie.loadAnimation({
    container: document.getElementById("lottie-animation"), // ID of the container where animation should play
    renderer: "svg", // Render as SVG for better quality
    loop: true, // Loop the animation
    autoplay: true, // Autoplay the animation
    path: "https://assets4.lottiefiles.com/packages/lf20_tutvdkg0.json", // URL to the Lottie animation JSON file
  });
</script>
