<div class="update-container">
  <h1>New Job</h1>

  <form action="/addjob" method="POST">
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <select class="custom-select" id="tech" name="jobCatagory">
          <option selected>Tech</option>
          <%updateOptions[0].jobCatagory.forEach((job)=>{%>
          <option><%=job%></option>
          <%})%>
        </select>
      </div>
      <div class="col-md-12 mb-3">
        <select class="custom-select" id="tech" name="role">
          <option selected>SDE</option>
          <%updateOptions[0].roles.forEach((role)=>{%>
          <option><%=role%></option>
          <%})%>
        </select>
      </div>

      <div class="col-md-12 mb-3">
        <label for="jobLocation" class="form-label">Enter job location</label>
        <input
          type="text"
          class="form-control"
          id="jobLocation"
          name="location"
          value=""
        />
      </div>

      <div class="col-md-12 mb-3">
        <label for="companyName" class="form-label">Company Name</label>
        <input
          type="text"
          class="form-control"
          id="companyName"
          name="company"
          value=""
        />
      </div>

      <div class="col-md-5 mb-3">
        <label for="salaryRange" class="form-label">Pacakage</label>
        <input
          type="text"
          class="form-control"
          id="salaryRange"
          name="package"
          value=""
        />
      </div>

      <div class="col-md-7 mb-3">
        <label for="totalPositions" class="form-label">Total Positions</label>
        <input
          type="number"
          class="form-control"
          id="totalPositions"
          name="openings"
          value=""
        />
      </div>

      <div class="col-md-6 mb-3">
        <label for="skills" class="form-label"
          >Select skills required for this job</label
        >
        <select class="form-select" id="skills" name="skills" multiple>
          <%updateOptions[0].skills.forEach((skill)=>{%>
          <option><%=skill%></option>

          <%})%>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label for="applyBy" class="form-label">Apply By</label>
        <input
          type="date"
          class="form-control"
          id="applyBy"
          name="applyby"
          value=""
        />
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
